body {
  background: #2b2c26;
  color: #c7c8c9;
}
a {
  color: #72ace9;
}
form {
  display: inline-block;
  background: #3c3d36;
  padding: 0.7em;
  margin-left: 1em;
}

div {
  padding: 0.15em;
}
.guide-note {
  font-size: 80%;
}
fieldset {
  display: inline-block;
  margin: 0.1em;
}

.hidden {
  display: none;
}
.warning {
  padding: 0.5em;
}
.warning > div {
  color:red;
  border:darkred ridge;
  padding: 0.2em;
}
.warning img {
  width:200px;
}

table {
  /* width: 100%; */
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #90b69b;
}
tr:nth-child(odd) {
  background-color: #2b2c26;
}
tr:nth-child(even) {
  background-color: #34352f;
}
.tableContainer {
  overflow-x:auto;
}
.cellDisplay {
  border:transparent solid 2px;
}
.cellDisplay:focus {
  border:blue solid 2px;
}

/* 
to make <div> fill <td> height.
https://stackoverflow.com/q/36575846
https://stackoverflow.com/a/36576083
*/
.cellHightFix {
  height: 1px;
}
@-moz-document url-prefix() {
   .cellHightFix {
        height: 100%;
    }
}
