body .ext_hidePost {
    display: none !important;
}

.ext_markAuthorPost {
    background-color: lightgreen;
}
.ext_markMyPost {
    background-color: lightblue;
}

.ext_postInfoExt {
    padding-bottom: 3px;
}
.ext_postInfoExt .ext_name {
    font-weight: 600;
}
.ext_postInfoExt .ext_created {
    margin-left: 10px;
}
