.buttonStyledAnchor:hover,
input[type=button]:hover {
    background-color: #005cc8;
}

.buttonStyledAnchor,
input[type=button] {
    background-color: #0075ff;
    border: none;
    color: white;
    padding: 2px 8px 3px 8px;
    margin: 1px 1px;
    border-radius: 5px;
    display: inline-block;
    /* font-size: 12px; */
    text-align: center;
    text-decoration: none;
}

.bodyCommon {
    background-color: dimgray;
    color: moccasin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    /* transform: scale(2.0);  */
    /* zoom: 200%; */
}

.thinMargin {
    margin: 2px;
}

.displayNone {
    display: none;
}

.popupBody {
    width: 350px;
}

.simpleList {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 2px;
}