.bodyCommon {
    background-color: dimgray;
    color: moccasin;
}

.thinMargin {
    margin: 2px;
}

.displayNone {
    display: none;
}

.popupBody {
    width: 300px;
}

.simpleList {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 2px;
}
